[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

pyserial = "==3.4"
influxdb = "==5.0.0"
ntplib = "==0.3.3"
numpy = "==1.14.0"


[dev-packages]
Sphinx = "==1.7.0"
